body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header styles */
header {
  background-color: #2c7abc;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
}

header a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

nav a:hover {
  color: #f4f4f4;
  opacity: 0.6;
  transition: color 0.3s;
}

#logo {
  height: 50px;
  margin-right: 20px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.header-left {
  display: flex;
  align-items: center;
}

#logout-button {
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid #fff;
  font-weight: 600;
  transition: background-color 0.3s;
}

#logout-button:hover {
  background-color: #fff;
  color: #2c7abc;
  transition: background-color 0.3s;
}

main {
  flex: 1;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  padding: 20px;
  max-width: 400px;
  margin: 50px auto;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

#login h2 {
  color: #2c7abc;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px 15px;
  background-color: #2c7abc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

button:hover {
  background-color: #1e5c8a;
}

.cadastro-link {
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
  color: #333;
}

.cadastro-link a {
  color: #2c7abc;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.cadastro-link a:hover {
  color: #1e5c8a;
}

/* Footer styles */
footer {
  background-color: #2c7abc;
  color: white;
  padding: 15px 0;
  text-align: center;
  margin-top: auto;
}

footer p {
  margin: 0;
  font-size: 1rem;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

footer a:hover {
  color: #f4f4f4;
}
