header {
  background-color: #2c7abc;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
}

header a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

nav a:hover {
  color: #f4f4f4;
  opacity: 0.6;
  transition: color 0.3s;
}

#logo {
  height: 50px;
  margin-right: 20px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.header-left {
  display: flex;
  align-items: center;
}

#logout-button {
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid #fff;
  font-weight: 600;
  transition: background-color 0.3s;
}

#logout-button:hover {
  background-color: #fff;
  color: #2c7abc;
  transition: background-color 0.3s;
}
